## 연결리스트

In [ ]:
# 연결리스트를 사용하여 구현하는 것이 일반적이지만 
# 연결리스트가 다음 챕터에 나오기 때문에 리스트로 구현하도록 하겠습니다.

# 연결리스트가 뒤에 배치된 것은 의도한 것입니다. 
# 쉬운 접근 -> 어려운 접근으로 점진적 부하를 드리기 위함입니다.

# https://ko.wikipedia.org/wiki/%EC%8A%A4%ED%83%9D 이러한 모습에 
# ADT를(Abstract Data Type, 추상자료형) 구현하면 되는 것입니다.
class Stack:
    def __init__(self):
        self.리스트 = []

    def top(self):
        return self.리스트[-1]

    def pop(self):
        return self.리스트.pop()

    def push(self, data):
        self.리스트.append(data)

    def empty(self):
        if self.리스트:
            return 0
        return 1

In [ ]:
s = Stack()
s.push(10)
s.push(20)
s.push(30)
s.리스트

In [ ]:
# 2차원 좌표 문제
# 다음 2차원 좌표가 주어질 때 거리가 가장 짧은 것을 구하라
# l = [[(10, 15), (21, 11)], [(11, 13), (23, 21)], [(1, 3), (3, 11)]]
# 1 step
# '좌표'라는 classs 만들어서
# 2 step
# '거리'라는 ADT 구상 : 거리라는 메서드는 두 점 사이에 거리를 구합니다.
# 3 step
# 구현하여 문제 풀이

# 이렇게 까지 해야 할까? 나는 피타고라스 정의 바로 적용해서 정렬해서 풀어버리고 싶은데
# 이렇게 풀어도 됩니다.
# 그런데 앞으로 이 자료형이 재사용 된다고 생각한다면 class로 정의해서 푸는 방향이 옳을 수 있습니다.

# 예를 들어 Django에서 Data를 저장하는 object는 단순 dict가 아닙니다!
# 그러니까 이것도 누군가 필요에 의해 만든 것입니다!

In [ ]:
# 가장 쉽게 (기본 자료형을 사용하여) 만들어낸 링크드 리스트
# 22 2 77 6
연결리스트 = {
    'value': 22,
    'next': {
        'value' : 2,
        'next' : {
            'value' : 77,
            'next' : {
                'value' : 6,
                'next' : None
            }
        }
    }
}

# 우리가 실제 하고 싶은 것?
연결리스트['value']
연결리스트['next']['value']
연결리스트['next']['next']['value'] # 우리가 원하는 값인가요? 그러면 stop

In [ ]:
head = {
    'value' : 90,
    'next' : {
        'value' : 2,
        'next' : {
            'value' : 77,
            'next' : {
                'value' : 35,
                'next' : {
                    'value' : 21,
                    'next' : None
                }
            }
        }
    }
}

head['next']['next']['next']['value']

In [ ]:
연결리스트 = {
            'head': {
                'value': 90,
                'next': {
                    'value': 2,
                    'next': {
                        'value': 77,
                        'next': {
                            'value': 35,
                            'next': {
                                'value': 21,
                                'next': None
                            }
                        }
                    }
                }
            }
        }
연결리스트['head']['next']['next']['next']['value']

35

In [ ]:
# [90, next] -> [2, next] -> [77, next] -> [35, next] -> [21, next] 
노드1 = {
    'value': 90,
    'next': None
}

노드2 = {
    'value': 2,
    'next': None
}

노드3 = {
    'value': 77,
    'next': None
}

노드4 = {
    'value': 35,
    'next': None
}

노드5 = {
    'value': 21,
    'next': None
}

노드1['next'] = 노드2
노드2['next'] = 노드3
노드3['next'] = 노드4
노드4['next'] = 노드5

노드1['next']['next']['next']['value']

In [ ]:
# [90, next] -> [2, next] -> [77, next] -> [35, next] -> [21, next]
# class가 너무 어려워요. 저는 그냥 dict로 구현하고 싶습니다.
# dict는 무겁습니다.
# 확장성이나 유지보수라는 면을 보았을 때에는 아래와 같이 구현하는 것을 권합니다.
class Node:
    def __init__(self, data):
        self.value = data
        self.next = None


노드1 = Node(90)
노드2 = Node(2)
노드3 = Node(77)
노드4 = Node(35)
노드5 = Node(21)

노드1.next = 노드2
노드2.next = 노드3
노드3.next = 노드4
노드4.next = 노드5

노드1.next.next.next.value

In [ ]:
# step 1
# 'LinkedList' 라는 class 만들어서
# step 2
# 'append', 'pop', 'remove', 'dedeuplication'와 같은 ADT 구상
# 거리라는 메서드는 두 점 사이의 거리를 구합니다
# step 3
# 구현하여 문제 풀이

In [ ]:
# 변수를 하나 만들면
# 자료구조가 무거워집니다. (순회를 돌거나, 여러 인스턴스를 생성하면 시간이 많이 걸리게 됩니다!)
# head -> ['init', next]
#               ↑ 
#              tail
# head -> ['init', next] -> [90, next]
#                               ↑ 
#        


class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init
        self.count = 0 # 데이터 수

    def __len__(self):
        return self.count
    
    def append(self, data):
        newNode = Node(data)
        self.tail.next = newNode
        self.tail = newNode
        self.count += 1

l = LinkedList()
l.append(90)
l.append(80)
l.append(70)
l.append(60)
len(l)

l.head.next.data

90

In [ ]:
# 변수를 하나 만들면
# 자료구조가 무거워집니다. (순회를 돌거나, 여러 인스턴스를 생성하면 시간이 많이 걸리게 됩니다!)
# head -> ['init', next]
#               ↑ 
#              tail
# head -> ['init', next] -> [90, next]
#                               ↑ 
#        


class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init
        self.count = 0

    def __len__(self):
        return self.count

    def __str__(self):
        s = ''
        currentNode = self.head
        currentNode = currentNode.next
        s += str(currentNode.data)
        currentNode = currentNode.next
        s += str(currentNode.data)
        currentNode = currentNode.next
        s += str(currentNode.data)
        return s

    def append(self, data):
        newNode = Node(data)
        self.tail.next = newNode
        self.tail = newNode
        self.count += 1

l = LinkedList()
l.append(90)
l.append(2)
l.append(77)
l.append(35)
l.append(21)

print(l)

90277

In [ ]:
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init
        self.count = 0

    def __len__(self):
        return self.count

    def __str__(self):
        s = ''
        currentNode = self.head
        currentNode = currentNode.next
        for i in range(self.count):
            s += f'{currentNode.data}, '
            currentNode = currentNode.next
        return f'<{s[:-2]}>'

    def append(self, data):
        newNode = Node(data)
        self.tail.next = newNode
        self.tail = newNode
        self.count += 1

    def pop(self):
        lastValue = self.tail.data
        currentNode = self.head
        for i in range(self.count):
            if currentNode.next is self.tail:
                self.tail = currentNode
                break
            currentNode = currentNode.next
        self.count -= 1
        return lastValue

    def find(self, data):
        index = -1
        currentNode = self.head
        for i in range(self.count):
            if currentNode.data == data:
                return index
            index += 1
            currentNode = currentNode.next
        return index
        
l = LinkedList()
l.append(90)
l.append(2)
l.append(77)
l.append(35)
l.append(21)

print(l)

<90, 2, 77, 35, 21>

In [ ]:
l.pop()

77

In [ ]:
print(l)

<90, 2>

In [ ]:
l.find(77)

2

In [ ]:
# Final Step
class Node:
    def __init__(self, data):
        self.data = data
        self.next = None

class LinkedList:
    def __init__(self):
        init = Node('init')
        self.head = init
        self.tail = init
        self.count = 0

    def __iter__(self):
        currentNode = self.head
        currentNode = currentNode.next
        while currentNode:
            yield currentNode.data
            currentNode = currentNode.next

    def __len__(self):
        return self.count

    def __str__(self):
        s = ''
        currentNode = self.head
        currentNode = currentNode.next
        for i in range(self.count):
            s += f'{currentNode.data}, '
            currentNode = currentNode.next
        return f'<{s[:-2]}>'

    def append(self, data):
        newNode = Node(data)
        self.tail.next = newNode
        self.tail = newNode
        self.count += 1

    def pop(self):
        lastValue = self.tail.data
        currentNode = self.head
        for i in range(self.count):
            if currentNode.next is self.tail:
                self.tail = currentNode
                break
            currentNode = currentNode.next
        self.count -= 1
        return lastValue

    def find(self, data):
        index = -1
        currentNode = self.head
        for i in range(self.count):
            if currentNode.data == data:
                return index
            index += 1
            currentNode = currentNode.next
        return index
        
l = LinkedList()
l.append(90)
l.append(2)
l.append(77)
l.append(35)
l.append(21)

# next 없이 __iter__으로 반복문이 가능하게 할 수 있습니다.
for i in l:
    print(i)

90
2
77
35
21

In [ ]:
# [90, 2, 77, 35, 21]
# <90, 2, 77, 35, 21>

* 과제 1 : 이해가 안되시는 부분은 손으로 직접 써보세요.
* 과제 2 : 여러 기능을 더 구현해서 제대로 된 linked list를 만들려고 노력해보시요. (shift, unshift, get, +, *)

In [ ]:
[1, 2, 3] + [3, 4, 5]
[1. 2. 3] * 2

[1, 2, 3, 3, 4, 5]

In [ ]:
# 이러한 형태가 어디서 사용이 되는지 dict로 확인해보겠습니다.
# 더블 링크드 리스트
node1 = {
    'pre' : None,
    'data' : 10,
    'next' : None
}

node2 = {
    'pre' : None,
    'data' : 20,
    'next' : None
}

node3 = {
    'pre' : None,
    'data' : 30,
    'next' : None
}

node1['next'] = node2

node2['pre'] = node1
node2['next'] = node3

node3['pre'] = node2
# node3['next'] = node1

In [ ]:
# 이진트리
node1 = {
    'left' : [],
    'data' : 20,
    'right' : []
}

node2 = {
    'left' : [],
    'data' : 5,
    'right' : []
}

node3 = {
    'left' : [],
    'data' : 10,
    'right' : []
}

node4 = {
    'left' : [],
    'data' : 30,
    'right' : []
}

node1['left'].append(node2)
node1['left'].append(node3)
node1['right'].append(node4)

node1['left']

[{'left': [], 'data': 5, 'right': []}, {'left': [], 'data': 10, 'right': []}]

In [ ]:
%%timeit

def fib(n):
    _curr, _next = 0, 1
    for _ in range(n):
        _curr, _next = _next, _curr + _next
    return _curr

fib(25)

In [ ]:
%%timeit

def fib(n):
    if n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

fib(25)

## O(1)

In [ ]:
n = 100
s = n * (n + 1) / 2
s

5050.0

## O(n)

연습문제

In [ ]:
from collections import Counter
Counter([1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 4, 4, 5, 6, 7, 8 ,9 , 7, 1, 1, 10])

Counter({1: 6, 2: 5, 3: 2, 4: 2, 5: 1, 6: 1, 7: 2, 8: 1, 9: 1, 10: 1})

In [ ]:
from collections import Counter
Counter('hello worl     d').get('l')
Counter('hello worl     d').get('z')

In [ ]:
from collections import Counter

def solution(array, n):
    value = Counter(array).get(n)
    return 0 if value == None else value

In [ ]:
# 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/120906

In [ ]:
def solution(n):
    answer = 0
    for i in str(n):
        answer += int(i)
    return answer

def solution(n):
    answer = sum(list(map(int, str(n))))
    return answer

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120844

In [ ]:
order = 'right'
numbers = [1, 2, 3]
result = []
if order == 'right':
    result = [numbers[-1]] + numbers[:-1]
result

In [ ]:
# result라는 변수를 안썼기 때문에
# 공간 복잡도가 위 보다 우위에 있습니다.
order = 'right'
numbers = [1, 2, 3]
if order == 'right':
    numbers.insert(0, numbers.pop())
numbers

In [ ]:
from collections import deque

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = deque(numbers)

numbers.rotate(3)
numbers

deque([8, 9, 10, 1, 2, 3, 4, 5, 6, 7])

In [ ]:
from collections import deque

def solution(numbers, direction):
    numbers = deque(numbers)
    if direction == "right": direction = 1
    if direction == "left": direction = -1
    numbers.rotate(direction)
    return list(numbers)

In [ ]:
dir(numbers)

# 'append',
# 'appendleft',

# 'extend',
# 'extendleft',

# 'maxlen', # LRU 알고리즘 등에 특히 유용합니다.
# 'pop',
# 'popleft',

# 'reverse',
# 'rotate'

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120864

In [ ]:
"aAb1B2cC34oOp"

# 1. findall로 숫자만 뽑아낸다.
# 2. sub로 문자를 +로 바꾼 후 eval('1+1++++1')
# 3. split 모든 문자[a-zA-Z]기준으로 split을 해서 sum

'aAb1B2cC34oOp'

In [ ]:
s = "aAb1B2cC34oOp"
for i in s:
    if (i >= 'a' and i <= 'z') or (i >= 'A' and i <= 'Z'):
        s = s.replace(i, '-')
        
s.split('-')

In [ ]:
import re

s = "aAb1B2cC34oOp"
re.split('[a-zA-Z]', s)

In [ ]:
import re

s = "aAb1B2cC34oOp"
re.sub('[a-zA-Z]', '+', s)

# eval('+++1+2++34+++') 뒤에 +가 있어서 안됩니다.

In [ ]:
eval('[1, 2, 3] + [4, 5, 6]')

In [ ]:
import re

re.findall('\d+',"aAb1B2cC34oOp9493abcde")

In [ ]:
import re

def solution(my_string):
    return sum(map(int, re.findall(r'[0-9]+', my_string)))

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120956

In [ ]:
import re

l = []
a = ["ayaye", "uuuma", "ye", "yemawoo", "ayaa"]
for i in range(len(a)):
    p = re.findall('[aya+|ye+|woo+|ma+]', a[i])

l

[]

* 순열과 조합이 쓰이는 문제는 '완전 탐색' 문제에서 주로 사용이 됩니다. 아래와 같은 문제도 '완전 탐색'으로 손쉽게 풀 수 있습니다. 단, 효율이 좋지는 않습니다.
* https://school.programmers.co.kr/learn/courses/30/lessons/120956

In [ ]:
import re

def solution(babbling):
    count = 0
    p = ["aya", "ye", "woo", "ma"]
    for i in babbling:
        print('------------')
        print(i)
        for pattern in p:
            i = re.sub(pattern, ' ', i)
            print(i)
        if i.replace(' ', '') == '':
            count += 1
    return count

solution(["aya", "yee", "u", "maa", "wyeoo"])

------------
aya




------------
yee
yee
 e
 e
 e
------------
u
u
u
u
u
------------
maa
maa
maa
maa
 a
------------
wyeoo
wyeoo
w oo
w oo
w oo

1

## 순열

In [ ]:
from itertools import permutations

list(permutations([1, 2, 3, 4], 2)) +\
list(permutations([1, 2, 3, 4], 3)) +\
list(permutations([1, 2, 3, 4], 4))

list(permutations(range(1, 5), 2))

In [ ]:
list(permutations('hello', 2))

In [ ]:
순열 = list(permutations(["aya", "ye", "woo", "ma"], 1)) +\
list(permutations(["aya", "ye", "woo", "ma"], 2)) +\
list(permutations(["aya", "ye", "woo", "ma"], 3)) +\
list(permutations(["aya", "ye", "woo", "ma"], 4))

순열집합 = []

for i in 순열:
    순열집합.append(''.join(i))

순열집합

In [ ]:
count = 0
for i in ["ayaye", "uuuma", "ye", "yemawoo", "ayaa"]:
    if i in 순열집합:
        count += 1

count

3

##조합

* 순서를 정하지 않고 나열한다. (nCr)

In [ ]:
from itertools import combinations

list(combinations([1, 2, 3, 4], 2))
list(combinations('abcd', 2))

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd')]

트리

In [8]:
tree = {
    'root': {
        'value': 5,
        'left': {
            'value': 3,
            'left': {
                'value': 1,
                'left': None,
                'right': None
            },
            'right': {
                'value': 4,
                'left': None,
                'right': None
            },
        },
        'right': {
            'value': 8,
            'left': {
                'value': 6,
                'left': None,
                'right': None
            },
            'right': {
                'value': 9,
                'left': None,
                'right': None
            },
        },
    }
}

In [9]:
tree['root']['left']['right']['value']

4

In [10]:
node1 = {
    'value': 5,
    'left': None,
    'right': None
}

node2 = {
    'value': 3,
    'left': None,
    'right': None
}

node3 = {
    'value': 8,
    'left': None,
    'right': None
}

node4 = {
    'value': 1,
    'left': None,
    'right': None
}

node5 = {
    'value': 4,
    'left': None,
    'right': None
}

node6 = {
    'value': 6,
    'left': None,
    'right': None
}

node7 = {
    'value': 9,
    'left': None,
    'right': None
}

In [11]:
# 노드 연결
node1['left'] = node2
node1['right'] = node3

node2['left'] = node4
node2['right'] = node5

node3['left'] = node6
node3['right'] = node7

In [12]:
# 노드 호출
node1['left']['right']['value']

4

In [13]:
# 노드 선언
class Node:
    def __init__(self, data):
        self.data = data
        # self.child = [] # 2진 트리가 아니거나 그래프인 경우 등에 자주 활용
        self.left = None
        self.right = None


node1 = Node(5)
node2 = Node(3)
node3 = Node(8)
node4 = Node(1)
node5 = Node(4)
node6 = Node(6)
node7 = Node(9)

In [14]:
# 노드 연결
node1.left = node2
node1.right = node3

node2.left = node4
node2.right = node5

node3.left = node6
node3.right = node7

In [17]:
# 노드 호출
node1.left.right.data

4

In [46]:
class Node:
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None

class Tree:
    def __init__(self, data):
        init = Node(data)
        self.root = init
        self.count = 1

    def __len__(self):
        return self.count

    def insert(self, data):
        newNode = Node(data)
        currentNode = self.root

        while currentNode:
            # 같은 값이면 값을 추가시켜주지 않습니다.
            if data == currentNode.data:
                return
            elif data < currentNode.data:
                # 왼쪽으로 가야합니다.
                if not currentNode.left:
                    # 만약 왼쪽 노드가 비어있으면
                    currentNode.left = newNode
                    self.count += 1
                    return
                # 만약 왼쪽 노드가 비어있지 않다면
                currentNode = currentNode.left
            elif data > currentNode.data:
                # 오른쪽으로 가야합니다.
                if not currentNode.right:
                    # 만약 오른쪽 노드가 비어있으면
                    currentNode.right = newNode
                    self.count += 1
                    return
                # 만약 오른쪽 노드가 비어있지 않다면
                currentNode = currentNode.right

    # 깊이 우선 탐색 : 스택
    # Depth First Search
    def DFS(self):
        result = []
        stack = [self.root]

        while len(stack) != 0:
            current = stack.pop()
            if current.right:
                stack.append(current.right)
            if current.left:
                stack.append(current.left)
            result.append(current.data)
        return result

    # 너비 우선 탐색 : 큐
    # Breadth First Search
    def BFS(self):
        result = []
        queue = [self.root]

        while len(queue) != 0:
            current = queue.pop(0)
            if current.right:
                queue.append(current.right)
            if current.left:
                queue.append(current.left)
            result.append(current.data)
        return result

In [48]:
# 데이터 삽입(연결)
t = Tree(5)
t.insert(3)
t.insert(8)
t.insert(1)
t.insert(4)
t.insert(6)
t.insert(9)

In [29]:
t.root.left.data
t.root.right.data

8

In [36]:
t.DFS()

[5, 3, 1, 4, 8, 6, 9]

In [49]:
t.BFS()

[5, 8, 3, 9, 6, 4, 1]

## 정렬 알고리즘

* step 1

In [ ]:
전 = [199, 22, 33, 12, 32, 64, 72, 222, 233]
후 = []

* step 2

In [ ]:
전 = [199, 22, 33, 32, 64, 72, 222, 233]
후 = [12]

* step 3

In [ ]:
전 = [199, 33, 32, 64, 72, 222, 233]
후 = [12, 22]

* step 4

In [ ]:
전 = [199, 33, 64, 72, 222, 233]
후 = [12, 22, 32]

In [ ]:
def 선택정렬(데이터):
    최종결과값 = []
    while 데이터:
        최솟값 = min(데이터)
        최종결과값.append(최솟값)
        데이터.remove(최솟값)
    return 최종결과값

선택정렬([199, 22, 33, 12, 32, 64, 72, 222, 233])

In [41]:
def 삽입정렬(데이터):
    최종결과값 = []
    while 데이터:
        꺼낸값 = 데이터.pop(0)
        들어갈위치 = len(list(filter(lambda x:x<꺼낸값, 최종결과값)))
        최종결과값.insert(들어갈위치, 꺼낸값)
    return 최종결과값
삽입정렬([199, 22, 33, 12, 32, 64, 72, 222, 233])

[12, 22, 32, 33, 64, 72, 199, 222, 233]

병합정렬
* Worst와 Best 모두 O(nlogn), 어떤 정렬보다 빠름, 동일 할 수 있음
* 분할 정복(Divide and Conquer)

In [ ]:
입력값 = [5, 10, 66, 77, 54, 32, 11, 15]
정렬된배열 = []

# 분할(이해를 돕기 위해 8개로 조정)
[5, 10, 66, 77, 54, 32, 11, 15]
[5, 10, 66, 77], [54, 32, 11, 15]
[5, 10], [66, 77], [54, 32], [11, 15]
[5], [10], [66], [77], [54], [32], [11], [15]

# 정복(0번째끼리 비교!)
[5, 10], [66, 77], [32, 54], [11, 15]
[5, 10], [66, 77], [32, 54], [11, 15]
[5, 10, 66, 77], [11, 15, 32, 54]
[5, 10, 11, 15, 32, 54, 66, 77]

In [42]:
def 병합정렬(입력리스트):
    # 분할
    입력리스트길이 = len(입력리스트)
    if 입력리스트길이 <= 1:
        return 입력리스트

    중간값 = 입력리스트길이 // 2
    그룹_하나 = 병합정렬(입력리스트[:중간값])
    그룹_둘 = 병합정렬(입력리스트[중간값:])

    # 정복
    결과값 = []
    while 그룹_하나 and 그룹_둘:
        if 그룹_하나[0] < 그룹_둘[0]:
            결과값.append(그룹_하나.pop(0))
        else:
            결과값.append(그룹_둘.pop(0))
    if 그룹_하나:
        결과값.extend(그룹_하나)
        그룹_하나 = []
    if 그룹_둘:
        결과값.extend(그룹_둘)
        그룹_둘 = []
    return 결과값

병합정렬([199, 22, 33, 12, 32, 64, 72, 222, 233])

[12, 22, 32, 33, 64, 72, 199, 222, 233]

In [43]:
def 퀵정렬(입력리스트):
    입력리스트길이 = len(입력리스트)
    if 입력리스트길이 <= 1:
        return 입력리스트

    기준값 = 입력리스트[-1]
    그룹_하나 = []
    그룹_둘 = []

    for i in range(0, 입력리스트길이-1):
        if 입력리스트[i] < 기준값:
            그룹_하나.append(입력리스트[i])
        else:
            그룹_둘.append(입력리스트[i])

    return 퀵정렬(그룹_하나) + [기준값] + 퀵정렬(그룹_둘)

퀵정렬([199, 22, 33, 12, 32, 64, 72, 222, 233])

[12, 22, 32, 33, 64, 72, 199, 222, 233]